// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #A0E4CB;
$cor-secundaria: #59C1BD;
$cor-terciaria: #0D4C92;
// $cor-primaria: #A27B5C;
// $cor-secundaria: #2C3639;
// $cor-terciaria: #DCD7C9;

// Tamanho das fontes
$tamanho-de-texto: 3rem;